<h1>Add Photo</h1>

<div class="mb-3">
  <p>Album: <%= @album.name %></p>
</div>

<.form multipart let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="mb-3">
    <%= label f, :photo %>
    <%= file_input(f, :photo, required: true, class: "form-control") %>
    <%= error_tag f, :photo %>
  </div>

  <div class="mb-3">
    <%= label f, :order %>
    <%= number_input f, :order, class: "form-control" %>
    <%= error_tag f, :order %>
  </div>

  <div class="mb-3">
    <%= label f, :caption %>
    <%= textarea f, :caption, class: "form-control" %>
    <%= error_tag f, :caption %>
  </div>

  <div class="mb-3">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
</.form>

<span><%= link "Back", to: Routes.album_photo_path(@conn, :index, @album) %></span>
