<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= live_title_tag assigns[:page_title] || "Welcome", suffix: " · Galley" %>
    <link rel="stylesheet" href="galley.css"/>
    <script defer type="text/javascript" src="galley.js"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
